{
  "username": "{{ item.username }}",
  "email": "{{ item.email }}",
  "password": "{{ item.password | default(harbor_user_password) }}",
  "realname": "{{ item.name | default(item.username) }}",
  "comment": "{{ item.comment | default('') }}",
  "deleted": false,
  "role_name": "{{ item.role_name | default("developer") }}",
  "role_id": {{ item.role_id | default(2) }},
  "sysadmin_flag": {{ item.sysadmin_flag | default(false) }}
}
